#hamburger-menu__toggle {
    opacity: 0;
  }
  #hamburger-menu__toggle:checked + .hamburger-menu__btn > span {
    transform: rotate(45deg);
  }
  #hamburger-menu__toggle:checked + .hamburger-menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #hamburger-menu__toggle:checked + .hamburger-menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #hamburger-menu__toggle:checked ~ .hamburger-menu__box {
    left: 0 !important;
  }
  .hamburger-menu__btn {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .hamburger-menu__btn > span,
  .hamburger-menu__btn > span::before,
  .hamburger-menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .hamburger-menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .hamburger-menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .hamburger-menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .hamburger-menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .hamburger-menu__item--active{
    background-color: #1F2937;
    color: #fff;
  }
  .hamburger-menu__item:hover {
    background-color: #CFD8DC;
  }